.contact-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.contact-navbar-interactive {
  width: 100%;
  height: 103px;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.contact-logo {
  width: 200px;
  height: 75px;
}
.contact-desktop-menu {
  display: flex;
  align-self: stretch;
}
.contact-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.contact-navlink {
  text-decoration: none;
}
.contact-navlink1 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.contact-text {
  margin-left: var(--dl-space-space-twounits);
}
.contact-text01 {
  margin-left: var(--dl-space-space-twounits);
}
.contact-text02 {
  margin-left: var(--dl-space-space-twounits);
}
.contact-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.contact-login {
  display: none;
  font-weight: 700;
  border-width: 0px;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.contact-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.contact-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.contact-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.contact-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.contact-container01 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.contact-image {
  height: 2rem;
}
.contact-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.contact-nav2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.contact-text03 {
  margin-bottom: var(--dl-space-space-unit);
}
.contact-text04 {
  margin-bottom: var(--dl-space-space-unit);
}
.contact-text05 {
  margin-bottom: var(--dl-space-space-unit);
}
.contact-text06 {
  margin-bottom: var(--dl-space-space-unit);
}
.contact-text07 {
  margin-bottom: var(--dl-space-space-unit);
}
.contact-container02 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
}
.contact-contact-us {
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.contact-icon-group {
  display: flex;
}
.contact-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.contact-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.contact-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.contact-banner {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  background-size: cover;
  justify-content: space-between;
  background-image: url('https://images.unsplash.com/photo-1485628390555-1a7bd503f9fe?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDE3fHxhcmNoaXRlY3R1cmUlMjBtaW5pbWFsfGVufDB8fHx8MTYyNjE4NDA0Mg&ixlib=rb-1.2.1&w=1500');
  background-position: center;
}
.contact-text08 {
  font-size: 0.75rem;
  text-align: center;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-twounits);
  letter-spacing: 2px;
}
.contact-text09 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}
.contact-container03 {
  width: 100%;
  height: 535px;
  display: flex;
  padding: var(--dl-space-space-twounits);
  flex-wrap: wrap;
  box-shadow: 10px 10px 10px 10px #d4d4d4;
  margin-top: var(--dl-space-space-fourunits);
  align-items: flex-start;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-fourunits);
  flex-direction: column;
  justify-content: flex-start;
}
.contact-container04 {
  flex: 0 0 auto;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.contact-text10 {
  font-size: 40px;
  font-style: italic;
  font-weight: 600;
}
.contact-text11 {
  margin: var(--dl-space-space-twounits);
  font-size: 25px;
}
.contact-container05 {
  width: 50%;
  height: 100%;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.contact-form {
  width: 899px;
  height: 505px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.contact-container06 {
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: center;
}
.contact-container07 {
  flex: 0 0 auto;
  width: 679px;
  height: 70px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: space-between;
}
.contact-text19 {
  font-size: 24px;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
  font-weight: 700;
  margin-left: var(--dl-space-space-oneandhalfunits);
  margin-right: var(--dl-space-space-oneandhalfunits);
  margin-bottom: var(--dl-space-space-halfunit);
}
.contact-input {
  width: 320px;
  height: 44px;
  padding: .5rem;
  font-size: 20px;
  text-align: left;
}
.contact-container08 {
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: center;
}
.contact-container09 {
  flex: 0 0 auto;
  width: 679px;
  height: 70px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: space-between;
}
.contact-text20 {
  font-size: 24px;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
  font-weight: 400;
  margin-left: var(--dl-space-space-oneandhalfunits);
  margin-right: var(--dl-space-space-oneandhalfunits);
  margin-bottom: var(--dl-space-space-halfunit);
}
.contact-text21 {
  font-weight: 700;
}
.contact-input1 {
  width: 320px;
  height: 44px;
  padding: .5rem;
  font-size: 20px;
  text-align: left;
}
.contact-container10 {
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: center;
}
.contact-container11 {
  flex: 0 0 auto;
  width: 679px;
  height: 70px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: space-between;
}
.contact-text23 {
  font-size: 24px;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
  font-weight: 700;
  margin-left: var(--dl-space-space-oneandhalfunits);
  margin-right: var(--dl-space-space-oneandhalfunits);
  margin-bottom: var(--dl-space-space-halfunit);
}
.contact-input2 {
  width: 320px;
  height: 44px;
  padding: .5rem;
  font-size: 20px;
  text-align: left;
}
.contact-container12 {
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: center;
}
.contact-container13 {
  flex: 0 0 auto;
  width: 679px;
  height: 70px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: space-between;
}
.contact-text24 {
  font-size: 24px;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
  font-weight: 700;
  margin-left: var(--dl-space-space-oneandhalfunits);
  margin-right: var(--dl-space-space-oneandhalfunits);
  margin-bottom: var(--dl-space-space-halfunit);
}
.contact-input3 {
  width: 320px;
  height: 44px;
  padding: .5rem;
  font-size: 20px;
  text-align: left;
}
.contact-container14 {
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: center;
}
.contact-container15 {
  flex: 0 0 auto;
  width: 679px;
  height: 70px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: space-between;
}
.contact-text25 {
  font-size: 24px;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
  font-weight: 700;
  margin-left: var(--dl-space-space-oneandhalfunits);
  margin-right: var(--dl-space-space-oneandhalfunits);
  margin-bottom: var(--dl-space-space-halfunit);
}
.contact-input4 {
  width: 320px;
  height: 44px;
  padding: .5rem;
  font-size: 20px;
  text-align: left;
}
.contact-container16 {
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: center;
}
.contact-container17 {
  flex: 0 0 auto;
  width: 679px;
  height: 70px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: space-between;
}
.contact-text26 {
  font-size: 24px;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
  font-weight: 700;
  margin-left: var(--dl-space-space-oneandhalfunits);
  margin-right: var(--dl-space-space-oneandhalfunits);
  margin-bottom: var(--dl-space-space-halfunit);
}
.contact-input5 {
  width: 320px;
  height: 44px;
  padding: .5rem;
  font-size: 20px;
  text-align: left;
  transition: 0.3s;
}

.contact-button {
  color: rgb(251, 251, 251);
  width: 201px;
  height: var(--dl-size-size-small);
  font-size: 20px;
  align-self: center;
  box-shadow: 8px 8px 10px 0px #d4d4d4;
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  font-weight: 700;
  border-width: 0px;
  margin-bottom: var(--dl-space-space-halfunit);
  background-color: rgb(15, 93, 216);
}
.contact-footer {
  width: 100%;
  display: flex;
  max-width: 100%;
  align-self: stretch;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.contact-image1 {
  height: 4rem;
  align-self: stretch;
  object-fit: cover;
}
.contact-icon-group1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.contact-icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.contact-icon12 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.contact-icon14 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
@media(max-width: 1200px) {
  .contact-text08 {
    font-size: 0.75rem;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  .contact-text09 {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
  }
}
@media(max-width: 991px) {
  .contact-footer {
    padding: 0px;
    justify-content: space-between;
  }
  .contact-icon-group1 {
    margin-right: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 767px) {
  .contact-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .contact-desktop-menu {
    display: none;
  }
  .contact-navlink1 {
    margin-left: var(--dl-space-space-unit);
  }
  .contact-text {
    margin-left: var(--dl-space-space-unit);
  }
  .contact-text01 {
    margin-left: var(--dl-space-space-unit);
  }
  .contact-text02 {
    margin-left: var(--dl-space-space-unit);
  }
  .contact-btn-group {
    display: none;
  }
  .contact-burger-menu {
    display: flex;
  }
  .contact-banner {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .contact-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .contact-text27 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .contact-navbar-interactive {
    padding: var(--dl-space-space-unit);
    padding-right: 16px;
  }
  .contact-mobile-menu {
    padding: 16px;
  }
  .contact-banner {
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .contact-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .contact-image1 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .contact-text27 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}
