.our-services-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.our-services-navbar-interactive {
  width: 100%;
  height: 103px;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.our-services-logo {
  width: 200px;
  height: 75px;
}
.our-services-desktop-menu {
  display: flex;
  align-self: stretch;
}
.our-services-nav {
  flex: 0 0 auto;
  color: var(--dl-color-gray-black);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.our-services-navlink {
  text-decoration: none;
}
.our-services-navlink1 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.our-services-text {
  margin-left: var(--dl-space-space-twounits);
}
.our-services-text01 {
  margin-left: var(--dl-space-space-twounits);
}
.our-services-text02 {
  margin-left: var(--dl-space-space-twounits);
}
.our-services-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.our-services-login {
  font-weight: 700;
  border-width: 0px;
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.our-services-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.our-services-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.our-services-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: fixed;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.our-services-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.our-services-container1 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.our-services-image {
  height: 2rem;
}
.our-services-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.our-services-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.our-services-nav2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.our-services-text03 {
  margin-bottom: var(--dl-space-space-unit);
}
.our-services-text04 {
  margin-bottom: var(--dl-space-space-unit);
}
.our-services-text05 {
  margin-bottom: var(--dl-space-space-unit);
}
.our-services-text06 {
  margin-bottom: var(--dl-space-space-unit);
}
.our-services-text07 {
  margin-bottom: var(--dl-space-space-unit);
}
.our-services-container2 {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
}
.our-services-contact-us {
  margin-right: var(--dl-space-space-twounits);
  text-decoration: none;
}
.our-services-icon-group {
  display: flex;
}
.our-services-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.our-services-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.our-services-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.our-services-banner {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  background-size: cover;
  justify-content: space-between;
  background-image: url('https://images.unsplash.com/photo-1485628390555-1a7bd503f9fe?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDE3fHxhcmNoaXRlY3R1cmUlMjBtaW5pbWFsfGVufDB8fHx8MTYyNjE4NDA0Mg&ixlib=rb-1.2.1&w=1500');
  background-position: center;
}
.our-services-text08 {
  font-size: 0.75rem;
  text-align: center;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-twounits);
  letter-spacing: 2px;
}
.our-services-text09 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}
.our-services-container3 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.our-services-navlink2 {
  color: var(--dl-color-gray-white);
  font-size: 0.75rem;
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
}
.our-services-navlink2:hover {
  color: var(--dl-color-gray-black);
  background-color: transparent;
}
.our-services-pricing {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.our-services-text10 {
  padding: var(--dl-space-space-twounits);
  font-size: 40px;
}
.our-services-text11 {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}
.our-services-container4 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  background-size: cover;
  justify-content: center;
}
.our-services-pricing-card {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: 450px;
  min-height: 450px;
  transition: 0.3s;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.our-services-pricing-card:hover {
  transform: scale(1.02);
}
.our-services-text14 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-twounits);
  text-transform: uppercase;
}
.our-services-container5 {
  height: 217px;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.our-services-text15 {
  margin-bottom: var(--dl-space-space-unit);
}
.our-services-text16 {
  margin-bottom: var(--dl-space-space-unit);
}
.our-services-text17 {
  margin-bottom: var(--dl-space-space-unit);
}
.our-services-text18 {
  margin-bottom: var(--dl-space-space-unit);
}
.our-services-pricing-card1 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  max-width: 450px;
  min-height: 450px;
  transition: 0.3s;
  align-items: flex-start;
  margin-right: var(--dl-space-space-twounits);
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.our-services-pricing-card1:hover {
  transform: scale(1.02);
}
.our-services-text19 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-twounits);
  text-transform: uppercase;
}
.our-services-container6 {
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.our-services-text20 {
  margin-bottom: var(--dl-space-space-unit);
}
.our-services-text21 {
  margin-bottom: var(--dl-space-space-unit);
}
.our-services-text22 {
  margin-bottom: var(--dl-space-space-unit);
}
.our-services-pricing-card2 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  max-width: 450px;
  min-height: 450px;
  transition: 0.3s;
  align-items: flex-start;
  margin-right: var(--dl-space-space-twounits);
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.our-services-pricing-card2:hover {
  transform: scale(1.02);
}
.our-services-text23 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-twounits);
  text-transform: uppercase;
}
.our-services-container7 {
  height: 245px;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.our-services-text24 {
  margin-bottom: var(--dl-space-space-unit);
}
.our-services-text25 {
  margin-bottom: var(--dl-space-space-unit);
}
.our-services-pricing-card3 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: 450px;
  min-height: 450px;
  transition: 0.3s;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  background-color: var(--dl-color-gray-white);
}
.our-services-pricing-card3:hover {
  transform: scale(1.02);
}
.our-services-text26 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-twounits);
  text-transform: uppercase;
}
.our-services-container8 {
  height: 276px;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}
.our-services-text27 {
  margin-bottom: var(--dl-space-space-unit);
}
.our-services-text28 {
  margin-bottom: var(--dl-space-space-unit);
}
.our-services-text29 {
  margin-bottom: var(--dl-space-space-unit);
}
.our-services-footer {
  width: 100%;
  display: flex;
  max-width: 100%;
  align-self: stretch;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.our-services-image1 {
  height: 4rem;
  align-self: stretch;
  object-fit: cover;
}
.our-services-icon-group1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.our-services-icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.our-services-icon12 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.our-services-icon14 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
@media(max-width: 1200px) {
  .our-services-text08 {
    font-size: 0.75rem;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  .our-services-text09 {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
  }
  .our-services-navlink2 {
    color: var(--dl-color-gray-white);
    font-size: 0.75rem;
    background-color: var(--dl-color-gray-black);
  }
}
@media(max-width: 991px) {
  .our-services-pricing-card {
    width: 100%;
    padding: var(--dl-space-space-twounits);
    max-width: 100%;
    align-items: center;
  }
  .our-services-pricing-card1 {
    width: 100%;
    max-width: 100%;
    align-items: center;
  }
  .our-services-pricing-card2 {
    width: 100%;
    max-width: 100%;
    align-items: center;
  }
  .our-services-pricing-card3 {
    width: 100%;
    max-width: 100%;
    align-items: center;
  }
  .our-services-footer {
    padding: 0px;
    justify-content: space-between;
  }
  .our-services-icon-group1 {
    margin-right: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 767px) {
  .our-services-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .our-services-desktop-menu {
    display: none;
  }
  .our-services-navlink1 {
    margin-left: var(--dl-space-space-unit);
  }
  .our-services-text {
    margin-left: var(--dl-space-space-unit);
  }
  .our-services-text01 {
    margin-left: var(--dl-space-space-unit);
  }
  .our-services-text02 {
    margin-left: var(--dl-space-space-unit);
  }
  .our-services-btn-group {
    display: none;
  }
  .our-services-burger-menu {
    display: flex;
  }
  .our-services-banner {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .our-services-container4 {
    flex-flow: column;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .our-services-pricing-card {
    width: 100%;
    max-width: 450px;
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .our-services-pricing-card1 {
    width: 100%;
    max-width: 450px;
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .our-services-pricing-card2 {
    width: 100%;
    max-width: 450px;
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .our-services-pricing-card3 {
    width: 100%;
    max-width: 450px;
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .our-services-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .our-services-text30 {
    text-align: center;
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .our-services-navbar-interactive {
    padding: var(--dl-space-space-unit);
    padding-right: 16px;
  }
  .our-services-mobile-menu {
    padding: 16px;
  }
  .our-services-banner {
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .our-services-container3 {
    align-items: center;
    flex-direction: column;
  }
  .our-services-navlink2 {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .our-services-container4 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .our-services-pricing-card3 {
    margin-bottom: 0px;
  }
  .our-services-footer {
    padding: var(--dl-space-space-unit);
    flex-direction: column;
  }
  .our-services-image1 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .our-services-text30 {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
}
