.component3-container {
  display: flex;
  position: relative;
  align-items: flex-start;
  justify-content: center;
}
.component3-container1 {
  flex: 0 0 auto;
  width: 679px;
  height: 70px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-halfunit);
  justify-content: space-between;
}
.component3-text {
  font-size: 24px;
  font-style: normal;
  margin-top: var(--dl-space-space-halfunit);
  text-align: center;
  font-weight: 400;
  margin-left: var(--dl-space-space-oneandhalfunits);
  margin-right: var(--dl-space-space-oneandhalfunits);
  margin-bottom: var(--dl-space-space-halfunit);
}
.component3-input {
  width: 320px;
  height: 44px;
  padding: .5rem;
  font-size: 20px;
  text-align: left;
}
