<div>
  <link href="./component2.css" rel="stylesheet" />
  <div class="component2-container">
    <span class="component2-text"><span>Advanced Analytics</span></span>
    <ul class="list component2-ul">
      <li class="list-item">
        <span class="component2-text1">
          <span>Handle and manage big data</span>
        </span>
      </li>
      <li class="list-item">
        <span class="component2-text2">
          <span>Customer behavior and seasonal analytics</span>
        </span>
      </li>
      <li class="list-item">
        <span class="component2-text3">
          <span>Forecasting & Optimization</span>
        </span>
      </li>
    </ul>
  </div>
</div>
