<div>
  <link href="./component.css" rel="stylesheet" />
  <div class="component-container">
    <span class="component-text"><span>Data Harmonizing & Cleaning</span></span>
    <ul class="list component-ul">
      <li class="list-item">
        <span class="component-text1">
          <span>Data research &amp; scrapping</span>
          <br />
        </span>
      </li>
      <li class="list-item">
        <span class="component-text4">
          <span>Data cleaning</span>
          <br />
        </span>
      </li>
      <li class="list-item">
        <span class="component-text7">
          <span>PDF to Excel conversion</span>
        </span>
      </li>
      <li class="list-item">
        <span class="component-text8">
          <span>Market trend and data analysis</span>
        </span>
      </li>
    </ul>
  </div>
</div>
