<div>
  <link href="./component1.css" rel="stylesheet" />
  <div class="component1-container">
    <span class="component1-text"><span>Dashboard & Reporting</span></span>
    <ul class="list component1-ul">
      <li class="list-item">
        <span class="component1-text1">
          <span>
            Analyze trends and KPIs graphically using visual elements like
            charts, and maps
          </span>
        </span>
      </li>
      <li class="component1-li1 list-item">
        <span class="component1-text2">
          <span>
            Track performance of KPIs and supply chain analysis using visual
            appealing reports
          </span>
        </span>
      </li>
    </ul>
  </div>
</div>
