<div>
  <link href="./container.css" rel="stylesheet" />
  <div class="container-container">
    <span class="container-text">
      <span>Process Automation & Efficient Solutions</span>
    </span>
    <ul class="list container-ul">
      <li class="list-item">
        <span class="container-text1">
          <span>Data consolidation and report automation</span>
        </span>
      </li>
      <li class="list-item">
        <span class="container-text2">
          <span>
            Identify manual processes and create automated solution using VBA,
            Macros and functions
          </span>
        </span>
      </li>
      <li class="list-item">
        <span class="container-text3">
          <span>Excel or MS Access based modelling and solutions</span>
        </span>
      </li>
    </ul>
  </div>
</div>
